.absoluteContainer {
  display: flex;
}

.timeContainer {
  position: relative;
}

.timeList {
  font-size: 12px;
  margin: 0;
  height: 200px;
  padding: 0 12px 0 10px;
  overflow-y: auto;
  list-style: none;
}

.timeItem {
  cursor: pointer;
  margin: 2px;
  padding: 3px;
}

.timeActive {
  background-color: #006BB4;
  color: white;
}
