.rangeContainer {
  margin: 0 auto;
  height: 40px;
  width: 450px;
  border: 1px solid #ddd;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  align-items: center;
}

.dateContainer {
  position: relative;
}

.dateBtn {
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.notValid {
  background-color: #f8e9e9;
  color: #BD271E;
  border-bottom: 2px solid #BD271E;
}
