.App {
  text-align: center;
  margin-top: 200px;
  color: black;
  scrollbar-color: #0A4C95 #C2D2E4;
}

.nowDateContainer {
  margin-top: 10px;
  font-size: 10px;
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
}

.nowDateText {
  padding: 10px;
  font-weight: 700;
  background-color: lightgrey;
}

.nowDate {
  font-size: 12px;
  line-height: 1;
  padding: 10px;
}
